
nav{
    background-color: blue;
    height: 30vh;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
nav div{
    background-color: red;
    height: 150px;
    width: 100px;
}